<% title "Cally - Sign Up" %>
<%= image_tag "signup.jpg", class: "signup-image" %>
<div class="signup">
	<%= form_for(resource, :as => resource_name, :url => user_registration_path) do |f| %>
		<%= devise_error_messages! %>
		<div class="container signup-field">
			<div class="row">
				<span class="signup-label">Sign Up Free</span>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<%= f.text_field :name, :placeholder => "Full Name", :type => "text", class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.text_field :email, :placeholder => "Email", :type => "email", class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.text_field :password, :placeholder => "Password", :type => "password", class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
				<%= f.submit "Sign up", class: "btn btn-primary rounded-button center-block" %>
			</div>
		</div>
	<% end %>
</div>